# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
#*.dll  # Don't exclude all DLL's, just selected ones below
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Data files
*.raw

User/ApexEval.lua
User/ApexSimulations.lua
User/Complement.lua
User/DDStatistics.lua
Utilities/lc.lua
Utilities/ms.lua
ZedGraph.XML
ZedGraph.dll
User/ut_proteomeDiscoverer.lua
LuaInterface.dll
